.img {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.white {
    color: whitesmoke;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    margin-left: 120px;
}

.btn-1 {
    background-color: whitesmoke;
    padding: 10px;
    font-weight: 600;
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-left: 120px;
    border-radius: 50px;
    margin-top: 20px;
    opacity: 60%;
    color: #455558;
    font-size: large;

}

a {
    text-decoration: none;
    color: inherit;
}

.btn-1:hover {
    background-color: lightgray;
    opacity: 100%;
}

.hauteur {
    margin-top: 70px;
    margin-bottom: 70px;
}

h2 {
    font-size: 3em;
    font-weight: 650;
}

li {
    list-style: none;
}

.destinations {
    display: flex;
    flex-wrap: wrap;
    gap: 10vw 5vh;
}

.articles {
    width: 40vw;
    height: 40vh;
    margin: auto;
}

.articles img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

h3 {
    margin-top: 15px;
    font-weight: 600;
}

.paragraphe {
    font-size: 1.2em;
}

.color-principal {
    color: #455558;
}

.josefin {
    font-family: "Josefin Sans", sans-serif;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #455558;
}

.footer-item {
    margin: auto;
    padding-top: 15px;
}

.discover {
    padding-bottom: 140px;
}

.transparant {
    opacity: 0%;
}

.gras {
    font-weight: 650;
}

.login-img {
    background-image: url('images/fond.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.center {
    padding: 13.5% 0% 0% 0%;
}

.overlay-text a {
    pointer-events: auto;
}

.background-img {
    background-image: url(images/pexels-quang-nguyen-vinh-222549-2166711.jpg);
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
}

.down-start {
    padding-top: 300px;
}

#destination {
    scroll-margin-top: 125px;
}

.circuit {
    margin-top: 50px;
}

.h1-circuit {
    text-align: center;
    align-items: center;
    margin: auto;
    font-weight: bold;
 }

.navbar {
    box-shadow: 0 4px 4px lightgray;
 }

.btn-2{
    background-color: #455558;
    padding: 5px;
    font-weight: 600;
    display: inline-block;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    margin-top: 20px;
    opacity: 60%;
    color: white;
    font-size: large;
}

.btn-2:hover{
    background-color: #161c1d;
}

.circuit-card .card-img-top {
  max-height: 30vh;
  object-fit: cover;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.circuit-card .card-body {
  flex: 1 1 auto;
  overflow: hidden;
}

.circuit-card {
  max-height: 65vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.circuit-card .card-footer {
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
  background: transparent;
  border-top: none;
}